/* Sell item custom styling  */
html{
    height: 100%;
}
body{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
main h1 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.sell-form{
    display: flex;
    column-gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
   
    input{
        padding: 5px;
        border-radius: 15px;
        border: 1px solid var( --secondary--color);
    }
    input[type="submit"] {
        width: fit-content;
        padding-left: 2rem;
        padding-right: 2rem;
        align-self: center;
        color: #ececec;
        background-color: #0e1424;
        cursor: pointer;
        font-size: 20px;
    }
    label, h3{
        font-size: 20px;
        text-align: center;
    }
   
    input[type="submit"]:hover{
        font-size: 30px;
        color: var(--text--color);
        background-color: var(--background--color);
    }

    section{
        div{
            margin: 30px;
            display: flex;
            width: inherit;
            justify-content: space-between;
    
        }

        
    };
}


