html {
    height: 100%;
}
body{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.title {
    font-size: 30px;
    padding: 1.5rem 0.5rem 0rem;
    letter-spacing: 0.2rem;
}


.history-table {
    margin: 1.5rem 0.8rem 1rem;
    width: 90%;
    thead {
        background-color: #0e1424;
        color: #ececec;
    }

    th, td{
        padding: 0.5rem;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

}

footer {
    padding: 0.5rem;
}

.links{
    display: flex;
    justify-content:space-around;
    margin-bottom: 0.5rem;
    a {
        color: #0e1424;
    }
}

