
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html{
    height: 100%;
}
/* Reset browser styling */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    font-weight: 600;
}

:root{
    --background--color: #ececec;
    --text--color: #0e1424;
    --secondary--color:  #adbbc6;
}


body{
    width: 100%;
    margin: auto;
    background-color: var(--background--color);
    color: var(--text--color);
    height: 100%;

    /* navigation bar styling => common*/
    nav{
        padding: 1rem;
        background-color: var(--secondary--color);
        ul{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;

            li {
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                a{
                    color: var(--text--color);
                    font-size: 20px;
                    
                }
            }
           
            a:hover{
                color: var(--background--color);
                font-size: 25px;
                text-align: center;
            }
        }
    }
    
  
    /* footer Styling => common*/
    footer{
        background-color: var(--secondary--color); 
        text-align: center;
        
        p{
            padding: 0.5rem;
            font-size: 25px;
        }
    
        .fa-brands{
           font-size: 30px;
           cursor: pointer;
           margin-left: 1rem;
        }

        .fa-brands:hover{
            color: var(--background--color);
            font-size: 40px;
        }
    
    }
}
@media only screen and (min-width: 800px) {
   
    nav .nav-ul{
        flex-direction: row;
    }
}
