
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Reset browser styling */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    font-weight: 600;
}

body{
    width: 100%;
    margin: auto;
    background-color: #ececec;
    color:#0e1424;
}


nav{
    padding: 1rem;
    
}

/* navigation bar styling */
nav .nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.nav-ul li a{
    color: #0e1424;
    font-size: 13px;
}

.title {
    font-size: 50px;
    letter-spacing: 0.2rem;
}

footer{
    background-color: #adbbc6; 
    text-align: center;
    
    p{
        padding: 0.5rem;
    }

    .fa-brands{
       font-size: 30px;
       cursor: pointer;
    }

}
/* :root might be used also */
