
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Reset browser styling */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    font-family: "Varela Round", sans-serif;
    font-style: normal;
}

body{
    width: 100%;
    margin: auto;
    background-color: #ececec;
    color:#0e1424;
}

/* :root might be used also */
