/* Styling of the main-page.html */



.header{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 5rem;
    text-align: left;
    color: #ececec;
    background-color:#374254 ;
}

.title {
    font-size: 50px;
    letter-spacing: 0.2rem;
}

nav .nav-ul{
    display: flex;
    column-gap: 2rem;
    color: #8a8fa3

}